{% set list = [
	{
		"title": "Эстетичный, ухоженный внешний вид"
	},
	{
		"title": "Создание ландшафтного дизайна"
	},
	{
		"title": "Соответствие санитарно-гигиеническим нормам и требованиям"
	},
	{
		"title": "Улучшение экологического состояния"
	}
]%}
<div class="about">
	<div class="column about__left">
		<h2 class="about__header header__txt">
			Немного о нас
		</h2>
	</div>
	<div class="about__right">
		<div class="about__right_text">
			<p>Компания "ГеоЛига" занимается комплексным благоустройством 	территорий с использованием самых современных материалов и технологий. Наши специалисты работают в этой сфере более 10 лет. Опыт работы и накопленные знания позволяют нам выполнять даже самые сложные заказы качественно и в кратчайшие сроки. Мы всегда стараемся подойти к решению поставленных задач творчески, благодаря чему Ваш участок приобретет неповторимый, эстетически законченный вид без нарушения экологического равновесия. Мы любим свою работу и выполняем её качественно.</p>

			<p class="about-right_text-att">Наша компания несет гарантийные обязательства на весь комплекс выполненных работ. Надеемся, что результат нашей работы будет радовать Вас и Ваших близких много лет.</p>

			<p>Работы по благоустройству - важный шаг в освоении дворовых территорий частного дома. Компания GeoLiga предлагает комплекс услуг под ключ или отдельные работы в Москве, направленные на:</p>
			</p>
		</div>
		<ul class="about__list">
		{% for item in list %}
			<li class="about__list_item">{{item.title}}</li>
		{% endfor %}
		</ul>
		<div class="about__right_text">
			<p>Выполнить работы по благоустройству качественно и надолго под силу команде, в которую входит инженер, ландшафтный дизайнер, квалифицированный садовник и геодезист. Компания GeoLiga облагораживает территории загородных участков и дворовых территорий в Москве на протяжении 10 лет. Нам можно доверить ваш уют. Цены на благоустройство соответствуют качеству выполняемых работ.</p>
		</div>
	</div>
</div>