<div class="slogan">
	<div class="slogan-left column">
		<span class="slogan-left_title title">Гарантии качества</span>
		<p class="slogan-left_txt">Наша компания уверена в качестве своей работы - вот почему мы даем гарантию на работы, произведенные нашими специалистами сроком от одного до трех лет, а на некоторые виды работ до 5-ти лет.</p>
		<img src="./images/man.png" alt="">
	</div>
	<div class="slogan-side column">
		<span class="slogan-side_title title">
			Основные принципы
		</span>
		<ul class="slogan-list">
			<li class="slogan-list_item">Ответственность</li>
			<li class="slogan-list_item">Работа на результат</li>
			<li class="slogan-list_item">Передовые технологии</li>
			<li class="slogan-list_item">Высокий сервис</li>
		</ul>
	</div>
</div>