<div class="accomplishment">
	<div class="accomplishment-txt">
		<h1><span class="header__txt">О благоустройстве</span></h1>
		<p class="accomplishment-paragraph"><span>Комплексное благоустройство заказывают не на 1 год.</span> Стоимость работ высока, и потому хочется, чтобы участок загородного или частного дома радовал красотой, динамичными природными красками и неприхотливым уходом многие годы. Именно поэтому комплексное благоустройство <span>под силу лишь профессионалам своего дела.</span>
		</p>
		<p class="accomplishment-paragraph">Наше сотрудничество с клиентами не заканчивается договором о выполненных работах — мы готовы <span>предоставить консультацию и профессиональную помощь на любом этапе</span> использования облагороженных дворовых территорий. Еще на этапе проектирования мы предоставляем четко аргументированные цены на обустройство участка по каждой позиции.</p>
	</div>
</div>